{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": "error",
    "quotes": ["error", "single"]
  }
}
