html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: #20252B;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

#root {
  display: flex;
  flex-wrap: wrap;
}

@font-face {
  font-family: 'LucidaGrande';
  src: local('LucidaGrande'), url('./fonts/LucidaGrande.woff') format('woff');
}
